{{ form_start(form, {'attr': {'class': 'app-form'}}) }}
<fieldset class="form-fieldset">
    <legend class="form-legend">Son compte Partenaire</legend>

    <div class="form-group">
        {{ form_label(form.partnerType) }}
        {{ form_widget(form.partnerType) }}
        {{ form_errors(form.partnerType) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group">
        {% if button_label is defined %}
            {{ form_label(form.plainPassword) }}
            {{ form_widget(form.plainPassword) }}
        {% else %}
            {{ form_label(form.plainPassword, null, {'label_attr': {'class': 'form-label required'}}) }}
            {{ form_widget(form.plainPassword, {'required': true}) }}
        {% endif %}
        {% if button_label is defined %}
            {{ form_help(form.plainPassword) }}
        {% endif %}
        {{ form_errors(form.plainPassword) }}
    </div>
</fieldset>

<fieldset class="form-fieldset">
    <legend class="form-legend">Ses infos perso</legend>

    <div class="form-group">
        {{ form_label(form.gender) }}
        {{ form_widget(form.gender) }}
        {{ form_errors(form.gender) }}
    </div>

    <div class="form-group">
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname) }}
        {{ form_errors(form.firstname) }}
    </div>

    <div class="form-group">
        {{ form_label(form.lastname) }}
        {{ form_widget(form.lastname) }}
        {{ form_errors(form.lastname) }}
    </div>

    <div class="form-group">
        {{ form_label(form.pseudo) }}
        {{ form_widget(form.pseudo) }}
        {{ form_errors(form.pseudo) }}
    </div>

    <div class="form-group">
        {{ form_label(form.logo) }}
        {% if button_label is defined and partner.logo %}
            <div class="app-grid two nobg">
                <div class="grid-item nobg">
                    {{ form_widget(form.logo) }}
                    {{ form_errors(form.logo) }}
                </div>
                <div class="grid-item nobg">
                    <div class="app-grid third-reverse nobg">
                        <a href="{{ asset('uploads/partner/' ~ partner.logo) }}"
                           target="_blank"
                           class="grid-item nobg">
                            <small>{{ partner.logo }}</small>
                        </a>
                        <a href="{{ path('app_back_office_crew_partner_logo_delete', {'id': partner.id}) }}"
                           class="grid-item nobg text-danger"
                           onclick="return window.confirm('Êtes-vous sûr de vouloir supprimer le logo de ce partenaire ?')">
                            {{ ux_icon('fa6-solid:trash-can', {'class': 'icon text-danger'}) }}
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            {{ form_widget(form.logo) }}
            {{ form_errors(form.logo) }}
        {% endif %}
    </div>
</fieldset>

<fieldset class="form-fieldset">
    <legend class="form-legend">Ses coordonnées</legend>

    <div class="form-group">
        {{ form_label(form.address1) }}
        {{ form_widget(form.address1) }}
        {{ form_errors(form.address1) }}
    </div>

    <div class="form-group">
        {{ form_label(form.address2) }}
        {{ form_widget(form.address2) }}
        {{ form_errors(form.address2) }}
    </div>

    <div class="form-group">
        {{ form_label(form.address3) }}
        {{ form_widget(form.address3) }}
        {{ form_errors(form.address3) }}
    </div>

    <div class="form-group">
        {{ form_label(form.zipcode) }}
        {{ form_widget(form.zipcode) }}
        {{ form_errors(form.zipcode) }}
    </div>

    <div class="form-group">
        {{ form_label(form.city) }}
        {{ form_widget(form.city) }}
        {{ form_errors(form.city) }}
    </div>

    <div class="form-group">
        {{ form_label(form.country) }}
        {{ form_widget(form.country) }}
        {{ form_errors(form.country) }}
    </div>

    <div class="form-group">
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone) }}
        {{ form_errors(form.phone) }}
    </div>
</fieldset>

<div class="form-group">
    {% if button_label is defined %}
        <a href="{{ path('app_back_office_crew_partner_view', {'id': partner.id}) }}" class="app-btn">
            Retour
        </a>
    {% else %}
        <a href="{{ path('app_back_office_crew_partner_home') }}" class="app-btn">
            Retour
        </a>
    {% endif %}
    <button type="submit" class="form-submit app-btn cta">{{ button_label | default('Ajoutez') }}</button>
</div>

{{ form_end(form) }}
