<nav class="app-account">
    <div class="app-dropdownmenu">
        <a href="#" onclick="return false;">
            {% if not app.user %}
                {{ ux_icon('ic:sharp-account-circle', {'class': 'app-icon'}) }}
            {% elseif is_granted('ROLE_ADMIN') %}
                {{ ux_icon('ic:baseline-account-balance', {'class': 'app-icon'}) }}
            {% elseif is_granted('ROLE_ARTIST') %}
                {{ ux_icon('ic:baseline-outlet', {'class': 'app-icon'}) }}
            {% elseif is_granted('ROLE_PARTNER') %}
                {{ ux_icon('ic:baseline-face', {'class': 'app-icon'}) }}
            {% else %}
                {{ ux_icon('ic:baseline-accessibility-new', {'class': 'app-icon'}) }}
            {% endif %}
        </a>

        <div class="dropdown-content">
            <div class="dropdown-item">
                <img src="{{ asset('img/account/navigation.webp') }}" alt="Label"/>
            </div>
            <div class="dropdown-item">
                <div class="app-grid two">
                    <div class="grid-item">
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <strong>Administration</strong>
                                {% if 'app_back_office_' not in app.request.get('_route') %}
                                    <a href="{{ path('app_back_office_home') }}">
                                        <img src="{{ asset('img/logo_small.png') }}" class="bullet" alt="BSS"/>
                                        Administration du site
                                    </a>
                                {% endif %}
                            {% elseif is_granted('ROLE_ARTIST') %}
                                <strong>Artiste</strong>
                            {% elseif is_granted('ROLE_PARTNER') %}
                                <strong>Partenaire</strong>
                            {% else %}
                                <strong>Adhérent</strong>
                            {% endif %}
                            {% if 'app_front_office_' not in app.request.get('_route') %}
                                <a href="{{ path('app_front_office_home') }}">
                                    <img src="{{ asset('img/logo_small.png') }}" class="bullet" alt="BSS"/>
                                    Retour au site
                                </a>
                            {% endif %}
                        {% else %}
                            <strong>Rejoins BSS</strong>
                            <a href="{{ path('app_front_office_membership') }}"
                               class="{% if app.request.get('_route') == 'app_front_office_membership' %}active{% endif %}">
                                <img src="{{ asset('img/logo_small.png') }}" class="bullet" alt="BSS"/>
                                Adhère au label
                            </a>
                            <a href="{{ path('app_front_office_partnership') }}"
                               class="{% if app.request.get('_route') == 'app_front_office_partnership' %}active{% endif %}">
                                <img src="{{ asset('img/logo_small.png') }}" class="bullet" alt="BSS"/>
                                Deviens partenaire
                            </a>
                        {% endif %}
                    </div>
                    <div class="grid-item">
                        {% if app.user %}
                            <strong>{% if is_granted('ROLE_ADMIN') %}Admin {% endif %}{{ app.user.name }}</strong>
                            <a href="{{ path('app_logout') }}"
                               class="text-warning"
                               onclick="return window.confirm('Tu pars déjà ?')">
                                <img src="{{ asset('img/logo_small.png') }}" class="bullet" alt="BSS"/>
                                Déconnecte-toi
                            </a>
                        {% else %}
                            <strong>Non connecté</strong>
                            <a href="{{ path('app_login') }}"
                               class="{% if app.request.get('_route') == 'app_login' %}active{% endif %}">
                                <img src="{{ asset('img/logo_small.png') }}" class="bullet" alt="BSS"/>
                                Connecte-toi
                            </a>
                        {% endif %}
                    </div>
                </div>
                <p>
                    Welcome dans la <strong>zone VIP</strong>, l'endroit où tout se passe&nbsp;!
                    <a href="{{ path('app_login') }}">Connecte-toi</a> à ton <strong>espace perso</strong> et plonge
                    direct dans le vif du sujet chez BSS. C'est ici que tu <strong>gères tes infos</strong>, que tu
                    demandes ou que tu retrouves tes <strong>documents</strong>, que tu déniches des
                    <strong>bons plans</strong> exclusifs et que tu restes branché sur les dernières vibrations de la
                    scène.
                </p>
            </div>
        </div>
    </div>
</nav>
