{% extends '@Admin/index.html.twig' %}

{% block title %}Fiche Partenaire : {{ partenaire.name }} - Administration Générale{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Fiche Partenaire : {{ partenaire.name }}</h1>
    </section>

    <section class="app-section alt">
        <div class="app-flex">
            <div class="flex-item actions">
                <a href="{{ path('admin_partenaires_index') }}"
                   class="primary"
                   title="Retour à la liste">
                    <i class="fa-solid fa-hand-point-left"></i>
                </a>
            </div>

            <div class="flex-item">
                <strong>Type</strong>
                {{ partenaire.partenaireType }}
            </div>

            <div class="flex-item">
                <strong>E-mail</strong>
                {{ partenaire.email }}
            </div>

            <div class="flex-item">
                <strong>Téléphone</strong>
                {{ partenaire.phone ?? '&nbsp;' }}
            </div>

            <div class="flex-item">
                <strong>Adhérent depuis</strong>
                {{ partenaire.createdAt | date('d/m/Y à H:i') | replace({':': 'h'}) }}
            </div>

            <div class="flex-item actions">
                <a href="{{ path('admin_partenaires_edit', {'id': partenaire.id}) }}"
                   class="info"
                   title="Modifier la fiche partenaire">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>

                <a href="{{ path('admin_archives_partenaires_archive', {'id': partenaire.id}) }}"
                   class="warning"
                   data-controller="popup--index"
                   data-action="popup--index#open"
                   data-popupid="popup-archive-{{ partenaire.id }}"
                   title="Archiver le partenaire">
                    <i class="fa-solid fa-box-archive"></i>
                </a>

                <div id="popup-archive-{{ partenaire.id }}" class="app-popup">
                    <div class="popup-body">
                        <div class="popup-header">
                            <h2>Archiver un Partenaire</h2>
                            <a href="#"
                               class="close"
                               data-controller="popup--index"
                               data-action="popup--index#close"
                               data-popupid="popup-archive-{{ partenaire.id }}">
                                <i class="fa-solid fa-circle-xmark"></i>
                            </a>
                        </div>
                        <div class="popup-content">
                            <h3>
                                {{ partenaire.name }}
                                -
                                {{ partenaire.partenaireType }}
                            </h3>

                            <form action="{{ path('admin_archives_partenaires_archive', {'id': partenaire.id}) }}"
                                  method="post">
                                <label for="archivedMotivation" class="form-label required">Motif :</label>
                                <input type="text"
                                       name="archivedMotivation"
                                       id="archivedMotivation"
                                       class="form-control"
                                       required/>
                                <button type="submit" class="app-btn cta">Archiver</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
