{% extends '@Admin/index.html.twig' %}

{% block title %}Nouveau Document - Administration Générale{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Nouveau Document</h1>
    </section>

    <section class="app-section">
        {{ form_start(form, {'attr': {'class': 'app-form'}}) }}
        <fieldset class="form-fieldset">
            <legend class="form-legend">Infos du Document</legend>

            <div class="form-group">
                <label for="{{ form.category.vars.id }}"
                       class="form-label {% if form.category.vars.required %}required{% endif %}">
                    {{ form.category.vars.label }}
                </label>
                {{ form_widget(form.category) }}
                {{ form_errors(form.category) }}
            </div>

            <div class="form-group">
                <label for="{{ form.name.vars.id }}"
                       class="form-label {% if form.name.vars.required %}required{% endif %}">
                    {{ form.name.vars.label }}
                </label>
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="form-group">
                <label for="{{ form.filename.vars.id }}"
                       class="form-label {% if form.filename.vars.required %}required{% endif %}">
                    {{ form.filename.vars.label }}
                </label>
                {{ form_widget(form.filename) }}
                {{ form_errors(form.filename) }}
            </div>
        </fieldset>

        <fieldset class="form-fieldset">
            <legend class="form-legend">Suivi du Document</legend>

            <div class="form-group">
                <label for="{{ form.status.vars.id }}"
                       class="form-label {% if form.status.vars.required %}required{% endif %}">
                    {{ form.status.vars.label }}
                </label>
                {{ form_widget(form.status) }}
                {{ form_errors(form.status) }}
            </div>
        </fieldset>

        <div class="form-group">
            <a href="{{ path('admin_gestion_documents_index') }}" class="app-btn">
                <i class="fa-solid fa-hand-point-left"></i>
                Retour
            </a>
            <button type="submit" class="form-submit app-btn cta">Ajoutez</button>
        </div>

        {{ form_widget(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </section>
{% endblock %}
