{% extends '@Admin/index.html.twig' %}

{% block title %}Les Documents Officiels - Administration Générale{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Les Documents Officiels de BSS</h1>
    </section>

    <section class="app-section">
        <table class="app-table">
            <thead>
                <tr>
                    <th>État</th>
                    <th>Nom</th>
                    <th>Créé le</th>
                    <th>Modifié le</th>
                    <th>
                        <a href="{{ path('admin_gestion_documents_add') }}" title="Nouveau document">
                            <i class="fa-solid fa-circle-plus"></i>
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for document in officiels %}
                    <tr>
                        <td>{{ document.status }}</td>
                        <td>{{ document.name }}</td>
                        <td>{{ document.createdAt | date("d/m/Y à H:i") | replace({':': 'h'}) }}</td>
                        <td>{{ document.updatedAt | date("d/m/Y à H:i") | replace({':': 'h'}) }}</td>
                        <td>
                            <a href="{{ asset('uploads/documents/' ~ document.filename) }}" target="_blank"
                               class="primary"
                               title="Voir le document">
                                <i class="fa-solid fa-eye"></i>
                            </a>

                            <a href="{{ path('admin_gestion_documents_edit', {'id': document.id}) }}"
                               class="info"
                               title="Modifier le document">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>

                            <a href="{{ path('admin_gestion_documents_delete', {'id': document.id}) }}"
                               class="danger"
                               onclick="return window.confirm('Supprimer définitivement ce document ?')"
                               title="Supprimer le document">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    {% for category in categories %}
        {% if category.documents | length > 0 %}
            <section class="app-section pagetitle">
                <h2>{{ category.name }}</h2>
            </section>

            <section class="app-section">
                <table class="app-table">
                    <thead>
                        <tr>
                            <th>État</th>
                            <th>Nom</th>
                            <th>Créé le</th>
                            <th>Modifié le</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for document in category.documents %}
                            <tr>
                                <td>{{ document.status }}</td>
                                <td>{{ document.name }}</td>
                                <td>{{ document.createdAt | date("d/m/Y à H:i") | replace({':': 'h'}) }}</td>
                                <td>{{ document.updatedAt | date("d/m/Y à H:i") | replace({':': 'h'}) }}</td>
                                <td>
                                    <a href="{{ asset('uploads/documents/' ~ document.filename) }}" target="_blank"
                                       class="primary"
                                       title="Voir le document">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>

                                    <a href="{{ path('admin_gestion_documents_edit', {'id': document.id}) }}"
                                       class="info"
                                       title="Modifier le document">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>

                                    <a href="{{ path('admin_gestion_documents_delete', {'id': document.id}) }}"
                                       class="danger"
                                       onclick="return window.confirm('Supprimer définitivement ce document ?')"
                                       title="Supprimer le document">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
