<div class="app-header">
    <div class="infos">
        <h2>ADMINISTRATION BASTARD SOUND SYSTEM</h2>
        C'est là-dedans que vous construisez ou que vous détruisez tout…
    </div>

    <div class="links">
        <a href="{{ path('admin_adherents_index') }}" {% if 'admin_adherents_' in app.request.get('_route') %} class="active"{% endif %}>
            <i class="fa-solid fa-user-astronaut"></i>
            {{ app_statistics_adherent.adherents | length }}
            Adhérent{{ app_statistics_adherent.adherents | length > 1 ? 's' : '' }}
        </a>

        <a href="{{ path('admin_partenaires_index') }}" {% if 'admin_partenaires_' in app.request.get('_route') %} class="active"{% endif %}>
            <i class="fa-solid fa-user-secret"></i>
            {{ app_statistics_partenaire.partenaires | length }}
            Partenaire{{ app_statistics_partenaire.partenaires | length > 1 ? 's' : '' }}
        </a>

        <a href="{{ path('front_office_index') }}" target="_blank">
            <i class="fa-solid fa-house-chimney" aria-hidden="true"></i>
            Voir le site
        </a>

        <a href="{{ path('app_logout') }}" class="danger-hover" onclick="return window.confirm('Vous partez ?')">
            <i class="fa-solid fa-right-from-bracket"></i>
            Déconnexion
        </a>
    </div>
</div>
