<nav class="app-navigation">
    <a href="{{ path('admin_index') }}" class="app-logo">
        <img src="{{ asset('img/logo.png') }}" alt="Bastard Sound System"/>
    </a>

    <div class="menu">
        <a href="{{ path('admin_index') }}" {% if app.request.get('_route') == 'admin_index' %} class="active"{% endif %}>
            <i class="fa-solid fa-gauge"></i>
            Dashboard
        </a>
    </div>

    <div class="menu">
        <h2>
            <i class="fa-solid fa-comments"></i>
            Contact
        </h2>

        <a href="{{ path('admin_contact_adhesions_index') }}" {% if 'admin_contact_adhesions_' in app.request.get('_route') %} class="active"{% endif %}>
            <i class="fa-solid fa-user-plus"></i>
            Adhésions
            {% if app_statistics_contact.adhesions | length > 0 %}
                <span class="badge">{{ app_statistics_contact.adhesions | length }}</span>
            {% endif %}
        </a>

        <a href="{{ path('admin_contact_partenariats_index') }}" {% if 'admin_contact_partenariats_' in app.request.get('_route') %} class="active"{% endif %}>
            <i class="fa-solid fa-handshake"></i>
            Partenariats
            {% if app_statistics_contact.partenariats | length > 0 %}
                <span class="badge">{{ app_statistics_contact.partenariats | length }}</span>
            {% endif %}
        </a>

        <a href="{{ path('admin_contact_messages_index') }}" {% if 'admin_contact_messages_' in app.request.get('_route') %} class="active"{% endif %}>
            <i class="fa-solid fa-envelope"></i>
            Messages
            {% if app_statistics_contact.messages | length > 0 %}
                <span class="badge">{{ app_statistics_contact.messages | length }}</span>
            {% endif %}
        </a>
    </div>

    <div class="menu">
        <h2>
            <i class="fa-solid fa-bell-concierge"></i>
            Services
        </h2>

        <a href="#" {% if 'admin_services_adherents_' in app.request.get('_route') %} class="active"{% endif %}>
            <i class="fa-solid fa-user-astronaut"></i>
            Adhérents
        </a>

        <a href="#" {% if 'admin_services_partenaires_' in app.request.get('_route') %} class="active"{% endif %}>
            <i class="fa-solid fa-user-secret"></i>
            Partenaires
        </a>
    </div>

    <div class="menu">
        <h2>
            <i class="fa-solid fa-building"></i>
            Gestion
        </h2>

        <a href="{{ path('admin_gestion_informations_edit') }}" {% if 'admin_gestion_informations_' in app.request.get('_route') %} class="active"{% endif %}>
            <i class="fa-solid fa-circle-info"></i>
            Infos Générales
        </a>

        <a href="{{ path('admin_gestion_cotisations_index') }}" {% if 'admin_gestion_cotisations_' in app.request.get('_route') %} class="active"{% endif %}>
            <i class="fa-solid fa-money-bill-wave"></i>
            Cotisations
            {% if app_gestion_cotisations.cotisationsKo %}
                <span class="badge danger">{{ app_gestion_cotisations.cotisationsKo | length }}</span>
            {% endif %}
        </a>

        <a href="{{ path('admin_gestion_documents_index') }}" {% if 'admin_gestion_documents_' in app.request.get('_route') %} class="active"{% endif %}>
            <i class="fa-solid fa-book"></i>
            Documents
        </a>

        <a href="{{ path('admin_gestion_materiel_index') }}" {% if 'admin_gestion_materiel_' in app.request.get('_route') %} class="active"{% endif %}>
            <i class="fa-solid fa-server"></i>
            Matériel
        </a>
    </div>

    <div class="menu">
        <h2>
            <i class="fa-solid fa-box-archive"></i>
            Archives
        </h2>

        <a href="{{ path('admin_archives_adherents_index') }}" {% if 'admin_archives_adherents_' in app.request.get('_route') %} class="active"{% endif %}>
            <i class="fa-solid fa-user-astronaut"></i>
            Adhérents
            {% if app_statistics_adherent.archivedAdherents | length > 0 %}
                <span class="badge">{{ app_statistics_adherent.archivedAdherents | length }}</span>
            {% endif %}
        </a>

        <a href="{{ path('admin_archives_partenaires_index') }}" {% if 'admin_archives_partenaires_' in app.request.get('_route') %} class="active"{% endif %}>
            <i class="fa-solid fa-user-secret"></i>
            Partenaires
            {% if app_statistics_partenaire.archivedPartenaires | length > 0 %}
                <span class="badge">{{ app_statistics_partenaire.archivedPartenaires | length }}</span>
            {% endif %}
        </a>
    </div>
</nav>
