{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Quand chaque note devient une légende{% endblock %}
{% block meta_description %}{% endblock %}

{% block body_class %}front-office home{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Bastard Sound System</h1>
            <p>Amplifie ton talent et crée la légende</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Ça va rocker dans les chaumières&nbsp;!</h2>

        <p class="text-justify small">
            Accroche-toi, ça va déménager&nbsp;! Les <strong>événements</strong> de la
            <strong>saison {{ "now"|date("Y") }}-{{ "now"|date("Y") + 1 }}</strong> s'annoncent comme de véritables
            <strong>tempêtes musicales</strong>&nbsp;! Prépare-toi à des <strong>concerts</strong> qui vont faire vibrer
            les
            murs et des <strong>soirées</strong> où l’<strong>énergie</strong> sera à son comble. Chaque
            <strong>spectacle</strong> est une promesse de riffs détonants et de moments mémorables. Ne rate surtout pas
            l’occasion de vivre ces <strong>expériences</strong> inoubliables, car les billets partent aussi vite qu'un
            solo de guitare&nbsp;! Sois dans le coup, et viens faire du <strong>bruit</strong> avec nous&nbsp;!
        </p>

        <p class="text-center">[LIVE COMPONENT - EVENTS]</p>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/home/backline.webp') }}" alt="Chauffe tes instruments"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Fais trembler les murs&nbsp;!</h2>

        <div class="app-grid three text-justify">
            <div class="grid-item app-text small">
                <div class="content mb-1">
                    <p>
                        Bienvenue chez <strong>Bastard Sound System</strong>, le repaire ultime des passionnés de la
                        <strong>scène rock</strong>&nbsp;! Ici, on ne fait pas dans la demi-mesure. On te propose un
                        <strong>management</strong> sur mesure, adapté à chaque <strong>groupe</strong>&nbsp;:&nbsp;de
                        la
                        gestion de carrière à
                        l'accompagnement stratégique, en passant par la création de <strong>contrats</strong> béton. En
                        plus, on s'occupe du
                        <strong>booking</strong> de tes <strong>concerts</strong>, pour te garantir des scènes qui
                        résonnent
                        comme des
                        coups de tonnerre. Et ça ne s’arrête pas là&nbsp;:&nbsp;on t’accompagne dans tes
                        <strong>tournées</strong>, pour que chaque
                        date soit un carton. Toi, l'<strong>Artiste</strong>, tu n’as qu’une chose à faire&nbsp;:&nbsp;monter
                        sur scène et faire hurler
                        la <strong>foule</strong>&nbsp;!
                    </p>
                </div>

                <a href="{{ path('app_front_office_label_about') }}" class="app-button cta">Découvre le label BSS</a>
            </div>

            <div class="grid-item app-text small">
                <div class="content mb-1">
                    <p>
                        Chez <strong>BSS</strong>, on ne se contente pas de te mettre sous les projecteurs, on te donne
                        aussi les outils
                        pour briller. On propose une <strong>production musicale</strong> complète&nbsp;:&nbsp;des
                        <strong>enregistrements
                                live</strong>
                        qui capturent l’énergie brute de tes performances, aux sessions en <strong>studio</strong> pour
                        des
                        morceaux d’une qualité professionnelle. Et si tu veux aller plus loin, on s’occupe aussi du
                        <strong>pressage</strong>
                        de tes albums en CD ou vinyle, ainsi que de leur <strong>diffusion</strong> sur toutes les
                        plateformes.
                        En plus, on est là pour te proposer des <strong>partenariats</strong> avec des événements via la
                        <strong>co-production</strong> ou la <strong>co-organisation</strong>. BSS, c’est une équipe
                        passionnée qui t’aide à
                        laisser une trace indélébile sur la scène musicale.
                    </p>
                </div>

                <a href="{{ path('app_front_office_production_music_recording_live') }}" class="app-button cta">
                    La production avec BSS
                </a>
            </div>

            <div class="grid-item app-text small">
                <div class="content mb-1">
                    <p>
                        Mais ce n’est pas tout&nbsp;! <strong>Bastard Sound System</strong>, c’est aussi une expertise
                        technique à toute épreuve.
                        On met à ta disposition une <strong>régie technique</strong> complète pour que chaque concert
                        soit
                        une réussite.
                        Que ce soit la <strong>sonorisation</strong>, la gestion du <strong>plateau</strong>, ou encore
                        la
                        <strong>captation
                                live</strong> de tes performances avec des <strong>photos</strong> et
                        <strong>vidéos</strong> de qualité, on s’occupe de tout
                        Besoin d’un <strong>clip musical</strong> qui envoie du lourd&nbsp;? Notre équipe se charge de
                        filmer et de produire des
                        vidéos qui marquent. Avec BSS, chaque détail compte pour que l'<strong>ambiance</strong> soit
                        <strong>électrique</strong> et
                        que les <strong>riffs</strong> restent gravés dans les mémoires. Prépare-toi à vivre le <strong>rock’n’roll</strong>
                        dans sa forme la plus pure, sans compromis ni limites.
                    </p>
                </div>

                <a href="{{ path('app_front_office_technics_live_management') }}" class="app-button cta">
                    La technique chez BSS
                </a>
            </div>
        </div>
    </section>
{% endblock %}
