{% extends '@Admin/index.html.twig' %}

{% block title %}Les Partenaires archivés - Administration Générale{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>
            {% if partenaires | length > 0 %}
                {{ partenaires | length }}
                Partenaire{{ partenaires | length > 1 ? 's' : '' }}
                archivé{{ partenaires | length > 1 ? 's' : '' }}
            {% else %}
                Les Partenaires archivés
            {% endif %}
        </h1>
    </section>

    <section class="app-section">
        {% if partenaires | length > 0 %}
            <table class="app-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Nom</th>
                        <th>Partenariats actifs</th>
                        <th>Archivé depuis</th>
                        <th>Motif</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                    {% for partenaire in partenaires %}
                        <tr>
                            <td>{{ partenaire.partenaireType }}</td>
                            <td>{{ partenaire.name }}</td>
                            <td>
                                <a href="#">Prestation</a>
                                •
                                <a href="#">Régie Générale</a>
                                •
                                <a href="#">Régie Technique</a>
                                •
                                <a href="#">Organisation</a>
                                •
                                <a href="#">Formation</a>
                            </td>
                            <td>{{ partenaire.archivedAt | date("d/m/Y à H:i") }}</td>
                            <td>{{ partenaire.archivedMotivation }}</td>
                            <td>
                                <a href="{{ path('admin_archives_partenaires_view', {'id': partenaire.id}) }}"
                                   class="primary"
                                   title="Voir la fiche partenaire">
                                    <i class="fa-solid fa-eye"></i>
                                </a>

                                <a href="{{ path('admin_archives_partenaires_edit', {'id': partenaire.id}) }}"
                                   class="info"
                                   title="Modifier la fiche partenaire">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun partenaire archivé…</p>
        {% endif %}
    </section>
{% endblock %}
