{% extends '@Admin/index.html.twig' %}

{% block title %}Partenaire archivé : {{ partenaire.name }} - Administration Générale{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Partenaire archivé : {{ partenaire.name }}</h1>
    </section>

    <section class="app-section alt">
        <div class="app-flex">
            <div class="flex-item actions">
                <a href="{{ partenaire.archivedAt ? path('admin_archives_partenaires_index') : path('admin_partenaires_index') }}"
                   class="primary"
                   title="Retour à la liste">
                    <i class="fa-solid fa-hand-point-left"></i>
                </a>
            </div>

            <div class="flex-item">
                <strong>Type</strong>
                {{ partenaire.partenaireType }}
            </div>

            <div class="flex-item">
                <strong>E-mail</strong>
                {{ partenaire.email }}
            </div>

            <div class="flex-item">
                <strong>Téléphone</strong>
                {{ partenaire.phone ?? '&nbsp;' }}
            </div>

            <div class="flex-item">
                <strong>Adhérent depuis</strong>
                {{ partenaire.createdAt | date('d/m/Y à H:i') }}
            </div>

            <div class="flex-item">
                <strong>Archivé depuis</strong>
                {{ partenaire.archivedAt | date('d/m/Y à H:i') }}
            </div>

            <div class="flex-item actions">
                <a href="{{ path('admin_archives_partenaires_edit', {'id': partenaire.id}) }}"
                   class="info"
                   title="Modifier la fiche partenaire">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>

                <a href="{{ path('admin_archives_partenaires_unarchive', {'id': partenaire.id}) }}"
                   class="success"
                   onclick="return window.confirm('Réintégrer ce partenaire ?')"
                   title="Réintégrer le partenaire">
                    <i class="fa-solid fa-rotate-left"></i>
                </a>

                <a href="{{ path('admin_archives_partenaires_delete', {'id': partenaire.id}) }}"
                   class="danger"
                   onclick="return window.confirm('Supprimer définitivement ce partenaire ?')"
                   title="Supprimer le partenaire">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
    </section>

    <section class="app-alert warning">
        <h3>{{ partenaire.archivedMotivation }}</h3>
    </section>
{% endblock %}
