{% extends 'front_office/_layout.html.twig' %}

{% block title %}{{ service.name }}{% endblock %}
{% block meta_description %}{% endblock %}
{% block body_class %}frontoffice service{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>{{ service.name }}</h1>
    </section>

    <section class="app-section">
        <div class="app-grid two">
            <div class="grid-item">
                <div class="sub">
                    <h2>{{ service.title | raw }}</h2>
                    <p>{{ service.description | raw }}</p>
                    <p class="app-grid two">
                        <a href="{{ path('app_front_office_contact') }}" class="app-btn">On en discute ?</a>
                        <a href="{{ path('app_front_office_membership') }}" class="app-btn cta">Je veux ça&nbsp;!</a>
                    </p>
                </div>
            </div>

            <div class="grid-item">
                <img src="{{ asset('uploads/services/' ~ service.cover) }}" alt="{{ service.name }}"/>
            </div>
        </div>
    </section>
{% endblock %}
