{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}La gestion de tes documents et de tes visuels{% endblock %}
{% block meta_description %}Optimise tes documents et tes visuels avec Bastard Sound System : des supports percutants pour capter l’attention des organisateurs, médias, et renforcer ton image de marque.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Tes documents et tes visuels</h1>
            <p>Le management chez BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>L'Importance des documents et des visuels</h2>

        <p class="text-justify small">
            Dans l'industrie <strong>musicale</strong>, les <strong>documents</strong> et les <strong>visuels</strong>
            jouent un rôle crucial dans la manière dont les <strong>organisateurs</strong>, les <strong>médias</strong>
            et le <strong>public</strong> perçoivent ton <strong>art</strong>. Des supports bien conçus permettent de
            transmettre efficacement ton <strong>identité artistique</strong> et d'attirer l'attention sur ta
            <strong>musique</strong>. Que ce soit pour promouvoir un nouvel <strong>album</strong>, organiser un
            <strong>concert</strong> ou
            renforcer ta <strong>marque personnelle</strong>, des documents de qualité sont essentiels pour créer une
            <strong>communauté</strong> autour de ta <strong>musique</strong> et établir des connexions significatives
            avec ton <strong>public</strong>.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/label/management/documents1.webp') }}" alt="Documents techniques et contractuels"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Tu as besoin de tout ça&nbsp;:</h2>

        <div class="app-grid two mb-3">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Des Dossiers Impactants pour les Médias</h3>
                    <p>
                        Les <strong>dossiers de presse et de communication</strong> et autres supports doivent captiver
                        l'attention des
                        <strong>journalistes</strong> et des <strong>influenceurs</strong>. Chez <strong>BSS</strong>,
                        nous
                        t'aidons
                        à élaborer des <strong>dossiers de présentation</strong> qui incluent ta
                        <strong>biographie</strong>,
                        des
                        <strong>photos professionnelles</strong>, et des informations sur tes <strong>projets
                                                                                                      récents</strong>.
                        Un
                        <strong>site internet</strong> bien conçu sert également de vitrine pour ton travail, permettant
                        aux
                        visiteurs de découvrir ta <strong>musique</strong> et de s'engager avec ton contenu. Ensemble,
                        nous
                        veillons
                        à ce que ton dossier de presse soit à la fois informatif et accrocheur, reflétant ton
                        <strong>style</strong>
                        et ta <strong>personnalité</strong>.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Des Dossiers Pertinents pour les Organisateurs</h3>
                    <p>
                        Lorsque tu t'adresses aux <strong>organisateurs</strong> de concerts et de festivals, un
                        <strong>dossier technique</strong> est indispensable. Nous t’aidons à préparer un dossier qui
                        détaille ton
                        <strong>équipement</strong>, tes besoins en <strong>logistique</strong> et ton
                        <strong>planning</strong>. En plus des <strong>dossiers techniques</strong>, nous t'assistons
                        dans la création de
                        <strong>riders</strong> qui garantissent que toutes tes exigences sont respectées. Nous pouvons
                        également
                        t'aider à mettre en avant tes <strong>clips vidéo</strong> et tes <strong>albums en
                                                                                                  ligne</strong>,
                        facilitant ainsi la promotion de ta <strong>musique</strong> auprès des
                        <strong>organisateurs</strong>.
                    </p>
                </div>
            </div>
        </div>

        <div class="app-grid">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Des Visuels de Qualité</h3>
                    <p>
                        Les <strong>visuels</strong> jouent un rôle fondamental dans l'impact de ta
                        <strong>communication</strong>.
                        Chez <strong>BSS</strong>, nous t’aidons à créer des <strong>logos</strong> mémorables et des
                        <strong>illustrations d'albums</strong> qui capturent l'essence de ton <strong>univers
                                                                                                       musical</strong>.
                        Des
                        <strong>visuels</strong> de haute qualité, comme des <strong>couvertures accrocheuses</strong>
                        et
                        des
                        <strong>articles de merchandising</strong>, te permettront de te démarquer et de laisser une
                        impression
                        durable sur ton <strong>public</strong>. Que ce soit pour un <strong>album</strong>, des
                        <strong>affiches de concert</strong> ou des
                        <strong>produits dérivés</strong>, nous travaillons avec des créateurs talentueux pour garantir
                        que
                        chaque
                        élément visuel reflète ton <strong>style</strong> et ta <strong>personnalité</strong> en tant
                        qu'artiste.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/label/management/documents2.webp') }}" alt="Logos et illustrations"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            Avoir des <strong>documents</strong> et des <strong>visuels</strong> bien conçus est essentiel pour
            propulser ta <strong>carrière</strong> musicale. Avec <strong>BSS</strong> à tes côtés, tu as accès à des
            <strong>conseils</strong> et à des <strong>ressources</strong> pour créer des supports qui captent
            l’attention et font briller ton <strong>art</strong>. Ensemble, faisons en sorte que ta
            <strong>musique</strong> soit entendue et appréciée !
        </p>

        <div class="app-grid two">
            <a href="{{ path('app_front_office_contact') }}" class="app-button">
                Discutons de tout ça
            </a>
            <a href="{{ path('app_front_office_membership') }}" class="app-button cta">
                Rejoins BSS&nbsp;!
            </a>
        </div>
    </section>
{% endblock %}
