{% apply inline_css %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        body {
            font-family: "Cormorant Garamond", serif;
            font-size: 16px;
            color: #222222;
            background-color: #ffffff;
        }

        h1 {
            font-family: "Roboto", sans-serif;
            font-size: 1.75rem;
            font-weight: bold;
            line-height: 2rem;
            text-transform: uppercase;
            color: #650f3c;
        }

        .danger {
            color: #d9534f;
        }
    </style>

    <main>
        <h1>Bienvenue chez BSS, {{ mailData['to']['name'] }} !</h1>

        <p>
            Vous êtes {{ mailData['from']['type'] }} !
            <br/>
            Votre demande a été validée le {{ mailData['date'] | date('d/m/Y à H:i') }}.
        </p>

        <p>
            Accédez dès maintenant à votre
            <a href="{{ mailData['url'] }}">
                Espace {{ mailData['from']['type'] }} BSS
            </a>
            :
        </p>
        <dl>
            <dd>
                <strong>Email :</strong>
                {{ mailData['to']['email'] }}
            </dd>
            <dd>
                <strong>Mot de passe :</strong>
                change-moi-ce-mot-de-passe-tout-de-suite
            </dd>
            <dd>
                <strong class="danger">Pensez à changer votre mot de passe dès votre première connexion !</strong>
            </dd>
        </dl>

        {% if mailData['from']['phone'] %}
            <p>
                En cas de besoin, vous pouvez contacter {{ mailData['from']['name'] }}
                au {{ mailData['from']['phone'] }}.
            </p>
        {% endif %}
        <p>À bientôt !</p>
    </main>
{% endapply %}
