<div {{ attributes }}>
    {% set memberships = computed.memberships %}
    {% if memberships %}
        <section class="app-section">
            <h2 class="mb-3">
                {% if app.request.query.get('etat') == 'nouvelle' %}
                    {{ memberships | length }} nouvelle{{ memberships | length > 1 ? 's' : '' }} demande{{ memberships | length > 1 ? 's' : '' }} d'adhésion&nbsp;:
                {% elseif app.request.query.get('etat') == 'attente' %}
                    {{ memberships | length }} adhésion{{ memberships | length > 1 ? 's' : '' }} en attente&nbsp;:
                {% elseif app.request.query.get('etat') == 'archive' %}
                    {{ memberships | length }} adhésion{{ memberships | length > 1 ? 's' : '' }} archivée{{ memberships | length > 1 ? 's' : '' }}&nbsp;:
                {% else %}
                    {{ memberships | length }} adhésion{{ memberships | length > 1 ? 's' : '' }}&nbsp;:
                {% endif %}
            </h2>

            <div class="app-grid four" data-loading="addClass(loading)">
                {% for membership in memberships %}
                    <div class="app-card" data-controller="modal">
                        <a href="#" data-action="click->modal#open">
                            <div class="card-header">
                                <img src="{{ asset('img/account/navigation.webp') }}" alt="Adhésions"/>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{ membership.name }}</h3>
                                <p class="card-title">{{ membership.memberType }}</p>
                                <p>
                                    <strong>{{ membership.city }}</strong>
                                </p>
                            </div>
                        </a>

                        {% include 'back_office/_layout/_modal.html.twig' with {'type': 'card', 'content_type': 'membership', 'content': membership} %}

                        <div class="card-footer">
                            {% if app.request.query.get('etat') != 'archive' %}
                                <a href="{{ path('app_back_office_contacts_membership_archive', {'id': membership.id}) }}"
                                   class="text-danger" title="Refuser cette demande"
                                   onclick="return window.confirm('On refuse cette demande ?')">
                                    {{ ux_icon('icomoon-free:cross', {'class': 'app-icon'}) }}
                                </a>
                            {% endif %}
                            {% if app.request.query.get('etat') != 'attente' %}
                                <a href="{{ path('app_back_office_contacts_membership_wait', {'id': membership.id}) }}"
                                   class="text-warning" title="Mettre cette demande en attente"
                                   onclick="return window.confirm('On met cette demande en attente ?')">
                                    {{ ux_icon('subway:refresh-time', {'class': 'app-icon'}) }}
                                </a>
                            {% endif %}
                            <a href="{{ path('app_back_office_contacts_membership_accept', {'id': membership.id}) }}"
                               class="text-success"
                               title="Accepter cette demande"
                               onclick="return window.confirm('On valide cette demande ?')">
                                {{ ux_icon('formkit:check', {'class': 'app-icon'}) }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% else %}
        <section class="app-section">
            <p class="text-center">
                <strong>Aucune adhésion trouvée…</strong>
            </p>
        </section>
    {% endif %}
</div>
