<nav class="app-navigation" data-controller="frontoffice--navigation">
    <a href="{{ path('front_office_index') }}"
       class="home {% if app.request.get('_route') == 'front_office_index' %}active{% endif %}">
        <i class="fa-solid fa-house-chimney"></i>
        Accueil
    </a>

    <div class="menu-item">
        <a href="#">
            <i class="fa-solid fa-user-astronaut"></i>
            Adhérent
        </a>

        <div class="submenu">
            <a href="{{ path('front_office_adherent_visuels_et_communication') }}"
               {% if app.request.get('_route') == 'front_office_adherent_visuels_et_communication' %}class="active"{% endif %}>
                Visuels & Comm'
            </a>
            <a href="{{ path('front_office_adherent_contrats_et_dossiers') }}"
               {% if app.request.get('_route') == 'front_office_adherent_contrats_et_dossiers' %}class="active"{% endif %}>
                Contrats & Dossiers
            </a>
        </div>
    </div>

    <div class="menu-item">
        <a href="#">
            <i class="fa-solid fa-user-secret"></i>
            Partenaire
        </a>

        <div class="submenu">
            <a href="{{ path('front_office_partenaire_prestations_et_regie') }}"
               {% if app.request.get('_route') == 'front_office_partenaire_prestations_et_regie' %}class="active"{% endif %}>
                Prestations & Régie
            </a>
            <a href="{{ path('front_office_partenaire_organisation_et_formations') }}"
               {% if app.request.get('_route') == 'front_office_partenaire_organisation_et_formations' %}class="active"{% endif %}>
                Orga & Formations
            </a>
        </div>
    </div>

    <a href="{{ path('front_office_contact') }}"
       {% if app.request.get('_route') == 'front_office_contact' %}class="active"{% endif %}>
        <i class="fa-solid fa-envelope"></i>
        Contact
    </a>

    <div class="menu-item">
        <a href="#">
            <i class="fa-{{ app.user ? 'solid' : 'regular' }} fa-circle-user"></i>
            {{ app.user ? app.user.pseudo ? app.user.pseudo : app.user.firstname : 'Visiteur' }}
        </a>

        <div class="submenu">
            {% if app.user %}
                {% if is_granted('ROLE_ADHERENT') %}
                    <a href="{{ path('adherent_index') }}">
                        Mon Espace Adhérent
                    </a>
                {% elseif is_granted('ROLE_PARTENAIRE') %}
                    <a href="{{ path('partenaire_index') }}">
                        Mon Espace Partenaire
                    </a>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_index') }}">
                        Administration BSS
                    </a>
                {% endif %}
                <a href="{{ path('app_logout') }}" onclick="return window.confirm('Vous partez déjà ?')">
                    Déconnexion
                </a>
            {% else %}
                <a href="{{ path('app_login') }}"
                   {% if app.request.get('_route') == 'app_login' %}class="active"{% endif %}>
                    Connexion
                </a>
                <a href="{{ path('front_office_adhesion') }}"
                   {% if app.request.get('_route') == 'front_office_adhesion' %}class="active"{% endif %}>
                    Adhésion
                </a>
                <a href="{{ path('front_office_partenariat') }}"
                   {% if app.request.get('_route') == 'front_office_partenariat' %}class="active"{% endif %}>
                    Partenariat
                </a>
            {% endif %}
        </div>
    </div>
</nav>
