<nav class="app-navigation" data-controller="frontoffice--navigation">
    <a href="{{ path('front_office_index') }}"
       class="home {% if app.request.get('_route') == 'front_office_index' %}active{% endif %}">
        <i class="fa-solid fa-house-chimney"></i>
        Accueil
    </a>

    <div class="menu-item">
        <a href="#">
            <i class="fa-solid fa-user-astronaut"></i>
            Adhérent
        </a>

        {% if app_services.firstCategories('adherent') | length > 0 %}
            <div class="submenu">
                {% for category in app_services.firstCategories('adherent') %}
                    <a href="{{ path('front_office_adherent_services', {'slug': category.slug}) }}"
                       {% if app.request.attributes.get('_route') == 'front_office_adherent_services' and app.request.attributes.get('slug') == category.slug %}class="active"{% endif %}>
                        {{ category.name }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="menu-item">
        <a href="#">
            <i class="fa-solid fa-user-secret"></i>
            Partenaire
        </a>

        {% if app_services.firstCategories('partenaire') | length > 0 %}
            <div class="submenu">
                {% for category in app_services.firstCategories('partenaire') %}
                    <a href="{{ path('front_office_partenaire_services', {'slug': category.slug}) }}"
                       {% if app.request.attributes.get('_route') == 'front_office_partenaire_services' and app.request.attributes.get('slug') == category.slug %}class="active"{% endif %}>
                        {{ category.name }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <a href="{{ path('front_office_contact') }}"
       {% if app.request.get('_route') == 'front_office_contact' %}class="active"{% endif %}>
        <i class="fa-solid fa-envelope"></i>
        Contact
    </a>

    <div class="menu-item">
        <a href="#">
            <i class="fa-{{ app.user ? 'solid' : 'regular' }} fa-circle-user"></i>
            {{ app.user ? app.user.pseudo ? app.user.pseudo : app.user.name : 'Visiteur' }}
        </a>

        <div class="submenu">
            {% if app.user %}
                {% if is_granted('ROLE_ADHERENT') %}
                    <a href="{{ path('adherent_index') }}">
                        Mon Espace Adhérent
                    </a>
                {% elseif is_granted('ROLE_PARTENAIRE') %}
                    <a href="{{ path('partenaire_index') }}">
                        Mon Espace Partenaire
                    </a>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_index') }}">
                        Administration BSS
                    </a>
                {% endif %}
                <a href="{{ path('app_logout') }}" onclick="return window.confirm('Vous partez déjà ?')">
                    Déconnexion
                </a>
            {% else %}
                <a href="{{ path('app_login') }}"
                   {% if app.request.get('_route') == 'app_login' %}class="active"{% endif %}>
                    Connexion
                </a>
                <a href="{{ path('front_office_adhesion') }}"
                   {% if app.request.get('_route') == 'front_office_adhesion' %}class="active"{% endif %}>
                    Adhésion
                </a>
                <a href="{{ path('front_office_partenariat') }}"
                   {% if app.request.get('_route') == 'front_office_partenariat' %}class="active"{% endif %}>
                    Partenariat
                </a>
            {% endif %}
        </div>
    </div>
</nav>
