{% extends '@FrontOffice/index.html.twig' %}

{% block title %}Côté Partenaire : Organisation & Formations{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>On fait des équipes qui gagnent</h1>
    </section>

    <div class="app-grid two">
        <div class="grid-item">
            <section class="app-section text">
                <h2>Le live de votre vie</h2>
                <p>
                    Prépare-toi à vibrer au rythme du live de ta life ! On te parle de scènes qui s'enflamment, de
                    foules en délire, et d'échos qui marquent les esprits longtemps après que les lumières se soient
                    éteintes. Chez nous, l'organisation de concerts, de festoches, de spectacles et de tournées, c'est
                    l'art de transformer chaque seconde en légende. On orchestre la magie du début à la fin, assurant
                    que chaque détail crée un frisson inoubliable. Tu veux un show qui déchire ? Embarque avec nous pour
                    une aventure épique où chaque note joue la bande-son de ta vie. Lâche-toi, on gère le spectacle !
                </p>

                <p>
                    <a href="{{ path('front_office_partenariat') }}" class="app-btn cta">Je deviens partenaire</a>
                </p>
            </section>

            <section class="app-section">
                <div class="content">
                    <img src="{{ asset('img/live.webp') }}" alt="Organisation"/>
                    <h2>Tous en scène</h2>

                    <div class="sub">
                        <img src="{{ asset('img/concerts.webp') }}" alt="Concerts & Tournées"/>
                        <a>
                            Concerts
                            <br/>
                            &
                            <br/>
                            Tournées
                        </a>
                    </div>

                    <div class="sub">
                        <a>
                            Enregistrement
                            <br/>
                            Live & Studio
                        </a>
                        <img src="{{ asset('img/enregistrement.webp') }}" alt="Enregistrement"/>
                    </div>

                    <div class="sub">
                        <img src="{{ asset('img/spectacle.webp') }}" alt="Spectacle Vivant"/>
                        <a>
                            Spectacle
                            <br/>
                            Vivant
                        </a>
                    </div>
                </div>
            </section>
        </div>

        <div class="grid-item">
            <section class="app-section text alt bordered">
                <h2>Pour les padawans</h2>
                <p>
                    Décolle vers de nouveaux horizons avec nos ateliers de formation, parfaits pour toi, futur maître de
                    la scène et du studio ! Que tu sois un beginner de la régie, de la sono, des lights, du plateau ou
                    de l’organisation d’événements, nos sessions sont ta rampe de lancement. On t'initie aux secrets des
                    pros pour que tu puisses piloter ton show comme un Jedi maîtrise la Force. Apprends à orchestrer les
                    équipements, à illuminer les performances et à captiver les foules. Alors Enfile ta cape, rejoins la
                    Team BSS et transforme ta passion en une carrière qui t'enverra vers les étoiles !
                </p>

                <p>
                    <a href="{{ path('front_office_contact') }}" class="app-btn cta">Je prends contact</a>
                </p>
            </section>

            <section class="app-section alt">
                <div class="content">
                    <img src="{{ asset('img/formation.webp') }}" alt="Formations"/>
                    <h2>Prenez un crayon</h2>

                    <div class="sub">
                        <img src="{{ asset('img/formation-regie.webp') }}" alt="Ateliers Régie"/>
                        <a>
                            Ateliers
                            <br/>
                            Régie
                        </a>
                    </div>

                    <div class="sub">
                        <a>
                            Ateliers
                            <br/>
                            Tech
                        </a>
                        <img src="{{ asset('img/formation-tech.webp') }}" alt="Ateliers Technique"/>
                    </div>

                    <div class="sub">
                        <img src="{{ asset('img/formation-orga.webp') }}" alt="Ateliers Orga"/>
                        <a>
                            Ateliers
                            <br/>
                            Organisation
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
