{{ form_start(form, {'attr': {'class': 'app-form'}}) }}
<div class="app-grid two mb-3">
    <fieldset class="form-fieldset">
        <legend class="form-legend">Qui es-tu&nbsp;?</legend>

        <div class="form-group">
            {{ form_label(form.partnerType) }}
            {{ form_widget(form.partnerType) }}
            {{ form_errors(form.partnerType) }}
        </div>

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone) }}
            {{ form_errors(form.phone) }}
        </div>

        <div class="form-group">
            {{ form_label(form.city) }}
            {{ form_widget(form.city) }}
            {{ form_errors(form.city) }}
        </div>
    </fieldset>

    <fieldset class="form-fieldset">
        <legend class="form-legend">autre chose&nbsp;?</legend>

        <div class="form-group">
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
        </div>
    </fieldset>
</div>

{{ form_widget(form._token) }}

<fieldset class="form-fieldset controls">
    <span>&nbsp;</span>
    <button type="submit" class="form-submit app-button cta">Envoie&nbsp;!</button>
</fieldset>
{{ form_end(form, {'render_rest': false}) }}
