<header class="app-header" data-controller="front-office--header">
    <img src="{{ asset('img/bg_header.webp') }}" class="bg-image" alt="{{ app_parameters.appName }}"/>
    <a href="{{ path('app_front_office_home') }}" class="app-logo">
        <img src="{{ asset('img/logo.png') }}" alt="{{ app_parameters.appName }}"/>
    </a>
</header>
