<nav class="app-navigation" data-controller="front-office--navigation">
    <a href="{{ path('app_front_office_home') }}"
       class="{% if app.request.get('_route') == 'app_front_office_home' %}active{% endif %}">
        {{ ux_icon('ion:home', {'class': 'icon'}) }}
        Accueil
    </a>

    <div class="menu-item">
        <a href="#">
            {{ ux_icon('fa-solid:tools', {'class': 'icon'}) }}
            Technique
        </a>

        <div class="submenu">
            <a href="#">
                Sonorisation
            </a>

            <a href="#">
                Plateau
            </a>

            <a href="#">
                Dossier Technique
            </a>
        </div>
    </div>

    <div class="menu-item">
        <a href="#">
            {{ ux_icon('material-symbols:factory', {'class': 'icon'}) }}
            Management
        </a>

        <div class="submenu">
            <a href="#">
                Visuels & Presse
            </a>

            <a href="#">
                Merchandising
            </a>

            <a href="#">
                Contrats d'engagement
            </a>

            <a href="#">
                Déclarations & Assurances
            </a>
        </div>
    </div>

    <div class="menu-item">
        <a href="#">
            {{ ux_icon('mingcute:sound-line-fill', {'class': 'icon'}) }}
            Organisation
        </a>

        <div class="submenu">
            <a href="#">
                Concerts & Tournées
            </a>

            <a href="#">
                Régie technique
            </a>

            <a href="#">
                Co-Organisation
            </a>
        </div>
    </div>

    <div class="menu-item">
        <a href="#">
            {{ ux_icon('streamline:wifi-antenna-solid', {'class': 'icon'}) }}
            Production
        </a>

        <div class="submenu">
            <a href="#">
                Live recording
            </a>

            <a href="#">
                Pressage CD & Vinyles
            </a>

            <a href="#">
                Diffusion multi-canaux
            </a>

            <a href="#">
                Co-Production
            </a>
        </div>
    </div>

    <div class="menu-item">
        <a href="#">
            {% if app.user %}
                {% if is_granted('ROLE_ADHERENT') %}
                    {{ ux_icon('emojione-monotone:lion-face', {'class': 'icon'}) }}
                {% elseif is_granted('ROLE_PARTENAIRE') %}
                    {{ ux_icon('emojione-monotone:cowboy-hat-face', {'class': 'icon'}) }}
                {% elseif is_granted('ROLE_ADMIN') %}
                    {{ ux_icon('emojione-monotone:fox-face', {'class': 'icon'}) }}
                {% endif %}
            {% else %}
                {{ ux_icon('mdi:alien', {'class': 'icon'}) }}
            {% endif %}
            {{ app.user ? app.user.pseudo ? app.user.pseudo : app.user.name : 'Visiteur' }}
        </a>

        <div class="submenu">
            {% if app.user %}
                {% if is_granted('ROLE_ADHERENT') %}
                    <a href="#">
                        Mon Espace Adhérent
                    </a>
                {% elseif is_granted('ROLE_PARTENAIRE') %}
                    <a href="#">
                        Mon Espace Partenaire
                    </a>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <a href="#">
                        Administration BSS
                    </a>
                {% endif %}
                <a href="#" onclick="return window.confirm('Vous partez déjà ?')">
                    Déconnexion
                </a>
            {% else %}
                <a href="#"
                   {% if app.request.get('_route') == 'app_login' %}class="active"{% endif %}>
                    Connexion
                </a>
                <a href="{{ path('app_front_office_membership') }}"
                   {% if app.request.get('_route') == 'app_front_office_membership' %}class="active"{% endif %}>
                    Adhésion
                </a>
                <a href="{{ path('app_front_office_partnership') }}"
                   {% if app.request.get('_route') == 'app_front_office_partnership' %}class="active"{% endif %}>
                    Partenariat
                </a>
            {% endif %}
            <a href="{{ path('app_front_office_contact') }}"
               {% if app.request.get('_route') == 'app_front_office_contact' %}class="active"{% endif %}>
                Contact
            </a>
        </div>
    </div>
</nav>
