<nav class="app-navigation" data-controller="front-office--navigation">
    <a href="{{ path('app_front_office_home') }}"
       class="{% if app.request.get('_route') == 'app_front_office_home' %}active{% endif %}">
        {{ ux_icon('ion:home', {'class': 'icon'}) }}
        Accueil
    </a>

    {% for category in app_services.getCategories %}
        <div class="menu-item">
            <a href="#">
                {{ ux_icon(category.icon, {'class': 'icon'}) }}
                {{ category.name }}
            </a>

            <div class="submenu">
                {% for service in category.services %}
                    <a href="{{ path('app_front_office_service', {'slug': service.slug}) }}"
                       {% if app.request.get('_route') == 'app_front_office_service' and app.request.attributes.get('slug') == service.slug %}class="active"{% endif %}>
                        {{ service.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div class="menu-item">
        <a href="#">
            {% if app.user %}
                {% if is_granted('ROLE_MEMBER') %}
                    {{ ux_icon('emojione-monotone:lion-face', {'class': 'icon'}) }}
                {% elseif is_granted('ROLE_PARTNER') %}
                    {{ ux_icon('emojione-monotone:cowboy-hat-face', {'class': 'icon'}) }}
                {% elseif is_granted('ROLE_ADMIN') %}
                    {{ ux_icon('emojione-monotone:fox-face', {'class': 'icon'}) }}
                {% endif %}
            {% else %}
                {{ ux_icon('mdi:alien', {'class': 'icon'}) }}
            {% endif %}
            {{ app.user ? app.user.pseudo ? app.user.pseudo : app.user.fullname : 'Visiteur' }}
        </a>

        <div class="submenu">
            {% if app.user %}
                <a href="{{ path('app_profile') }}"
                   {% if app.request.get('_route') == 'app_profile' %}class="active"{% endif %}>
                    Mon Compte
                </a>

                {% if is_granted('ROLE_MEMBER') %}
                    <a href="{{ path('app_member_home') }}">
                        Mon Espace Adhérent
                    </a>
                {% elseif is_granted('ROLE_PARTNER') %}
                    <a href="{{ path('app_partner_home') }}">
                        Mon Espace Partenaire
                    </a>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_back_office_home') }}">
                        Administration BSS
                    </a>
                {% endif %}

                {% if not is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_front_office_contact') }}"
                       {% if app.request.get('_route') == 'app_front_office_contact' %}class="active"{% endif %}>
                        Contactez BSS
                    </a>
                {% endif %}

                <a href="{{ path('app_logout') }}"
                   class="text-danger"
                   onclick="return window.confirm('Vous partez déjà ?')">
                    Déconnexion
                </a>
            {% else %}
                <a href="{{ path('app_front_office_membership') }}"
                   {% if app.request.get('_route') == 'app_front_office_membership' %}class="active"{% endif %}>
                    Adhésion
                </a>
                <a href="{{ path('app_front_office_partnership') }}"
                   {% if app.request.get('_route') == 'app_front_office_partnership' %}class="active"{% endif %}>
                    Partenariat
                </a>

                {% if not is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_front_office_contact') }}"
                       {% if app.request.get('_route') == 'app_front_office_contact' %}class="active"{% endif %}>
                        Contactez BSS
                    </a>
                {% endif %}

                <a href="{{ path('app_login') }}"
                   {% if app.request.get('_route') == 'app_login' %}class="active"{% endif %}>
                    Connexion
                </a>
            {% endif %}
        </div>
    </div>
</nav>
