<div {{ attributes }}>
    {% if app_partnerService.allPartners | length > 1 %}
        <section class="app-section post-figure">
            <div class="app-text info mb-0">
                <div class="icon">
                    {{ ux_icon('mage:filter', {'class': 'app-icon medium text-primary'}) }}
                </div>
                <div class="app-filters app-grid two">
                    {% set occupations = app_partnerService.occupations %}
                    {% if occupations | length > 1 %}
                        <div class="filter-group">
                            <label for="occupation" class="filter-label">Activité principale</label>
                            <select name="occupation" id="occupation" class="filter-control" data-model="occupation">
                                <option value="">Toutes les activités</option>
                                {% for occupation in occupations %}
                                    <option value="{{ occupation.id }}">{{ occupation.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    <div class="filter-group">
                        <label for="specialty" class="filter-label">Spécialité</label>
                        <select name="specialty" id="specialty" class="filter-control" data-model="specialty">
                            <option value="">Toutes les spécialités</option>
                            {% for specialty in validSpecialties %}
                                <option value="{{ specialty.id }}">{{ specialty.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% set partners = computed.partners %}
    {% if partners %}
        <section class="app-section">
            <h2 class="mb-3">
                {% if partners | length > 1 %}
                    Bravo&nbsp;! Tu as trouvé {{ this.partners | length }} partenaires&nbsp;:
                {% elseif partners | length > 0 %}
                    Bravo&nbsp;! Tu as trouvé {{ this.partners | length }} partenaire&nbsp;:
                {% else %}
                    Hélas&nbsp;! Tu n'as pas trouvé de partenaire&nbsp;:(
                {% endif %}
            </h2>

            <div class="app-grid three" data-loading="addClass(loading)">
                {% for partner in partners %}
                    <div class="app-card">
                        <a href="{{ path('app_front_office_partner_details', {'slug': partner.slug}) }}"
                           title="Voir la fiche de {{ partner.name }}">
                            <div class="card-header contain">
                                <img src="{{ asset('uploads/partner/' ~ partner.slug ~ '/' ~ partner.logo) }}"
                                     alt="{{ partner.name }}"/>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{ partner.name }}</h3>
                                <p class="card-subtitle">
                                    {% set uniqueOccupations = [] %}
                                    {% for pos in partner.partnerOccupationSpecialties %}
                                        {% if pos.occupation.name not in uniqueOccupations %}
                                            {% set uniqueOccupations = uniqueOccupations | merge([pos.occupation.name]) %}
                                        {% endif %}
                                    {% endfor %}
                                    {{ uniqueOccupations | join(', ') }}
                                </p>
                                <p>
                                    <strong>{{ partner.city }}&nbsp;({{ partner.zipcode | slice(0,2) }})</strong>
                                </p>
                            </div>
                        </a>
                        <div class="card-footer app-socials">
                            <a href="{{ path('app_front_office_partner_details', {'slug': partner.slug}) }}"
                               title="La fiche de {{ partner.name }}">
                                {{ ux_icon('akar-icons:info-fill', {'class': 'app-icon medium text-info'}) }}
                            </a>
                            {% if partner.website %}
                                <a href="{{ partner.website }}"
                                   title="Va voir le site de {{ partner.name }}"
                                   target="_blank">
                                    {{ ux_icon('mdi:web', {'class': 'app-icon medium text-primary'}) }}
                                </a>
                            {% endif %}
                            <a href="{{ path('app_front_office_contact', {'slug': partner.slug}) }}"
                               title="Contacte BSS à propos de {{ partner.name }} !">
                                {{ ux_icon('bi:envelope-fill', {'class': 'app-icon medium text-success'}) }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% else %}
        <section class="app-section">
            <p class="text-center">
                <strong>Aucun partenaire trouvé… Modifie tes filtres&nbsp;!</strong>
            </p>
        </section>
    {% endif %}
</div>
