{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Nos objectifs et nos valeurs{% endblock %}
{% block meta_description %}Chez Bastard Sound System, nous soutenons les artistes avec des valeurs d’authenticité, de solidarité et de passion. Notre objectif : briser les barrières et créer des opportunités pour les talents émergents sur la scène musicale.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Nos objectifs et nos valeurs</h1>
            <p>Le label BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Nos Objectifs</h2>
        <p class="text-justify small">
            Chez <strong>Bastard Sound System</strong>, nos <strong>objectifs</strong> sont clairs et ambitieux.
            Nous voulons réduire le fossé qui sépare les <strong>artistes émergents</strong> des
            <strong>opportunités professionnelles</strong>. Notre <strong>mission</strong> est de créer un espace où
            chaque <strong>artiste</strong> peut s’épanouir, se professionnaliser et faire entendre sa
            <strong>musique</strong> sans entraves. Que tu sois un <strong>groupe local</strong> à la recherche de
            <strong>concerts</strong> ou un <strong>musicien solo</strong> qui aspire à être découvert,
            <strong>BSS</strong> est là pour toi. Nous nous battons pour briser les <strong>barrières</strong> qui
            rendent l'accès à la <strong>scène</strong>
            difficile. En tant que membre de <strong>BSS</strong>, tu as la chance d’être référencé dans notre
            <strong>catalogue</strong>, ce qui te donne accès à des <strong>concerts</strong>, des
            <strong>festivals</strong> et des <strong>événements</strong> qui peuvent changer le cours de ta
            <strong>carrière</strong>.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/label/about/goals1.webp') }}" alt="Les objectifs de BSS"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Nos Valeurs</h2>
        <div class="app-grid three">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>L'Authenticité</h3>
                    <p>
                        La <strong>musique</strong> est une forme d’expression personnelle. Chez <strong>BSS</strong>,
                        nous
                        croyons en la valeur de chaque <strong>voix</strong> et de chaque <strong>projet</strong>. Nous
                        encourageons nos <strong>artistes</strong> à rester fidèles à eux-mêmes et à leur
                        <strong>style</strong>.
                    </p>
                </div>
            </div>
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>La Solidarité</h3>
                    <p>
                        Nous sommes une <strong>communauté</strong>. Chaque <strong>artiste</strong> est soutenu par le
                        <strong>réseau BSS</strong>, où la <strong>collaboration</strong> et l’<strong>entraide</strong>
                        sont au
                        cœur de notre <strong>fonctionnement</strong>. Ensemble, nous sommes plus forts et pouvons
                        réaliser
                        de
                        grandes <strong>choses</strong>.
                    </p>
                </div>
            </div>
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>La Passion</h3>
                    <p>
                        La <strong>musique</strong> est notre <strong>moteur</strong>. Notre équipe partage la même
                        <strong>passion</strong> que nos <strong>artistes</strong>, et nous nous engageons à les aider à
                        atteindre leurs <strong>objectifs</strong>. Nous croyons que la <strong>passion</strong> est le
                        meilleur
                        <strong>moteur</strong> pour le <strong>succès</strong>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/label/about/goals2.webp') }}" alt="Les valeurs de BSS"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-nous Ensemble</h2>
        <p class="text-justify small">
            Nous savons que le <strong>parcours</strong> d’un <strong>artiste</strong> est semé d’embûches, mais nous
            sommes là pour t’accompagner à chaque <strong>étape</strong>. En intégrant <strong>BSS</strong>, tu fais le
            choix de rejoindre une <strong>équipe</strong> qui se bat pour ta <strong>réussite</strong> et celle de ta
            <strong>musique</strong>.
        </p>

        <div class="app-grid two">
            <a href="{{ path('app_front_office_label_management_communication') }}" class="app-button">
                Comment atteindre tes objectifs
            </a>
            <a href="{{ path('app_front_office_membership') }}" class="app-button cta">
                Rejoins le label&nbsp;!
            </a>
        </div>
    </section>
{% endblock %}
