{{ form_start(form, {'attr': {'class': 'app-form'}}) }}
<fieldset class="form-fieldset">
    <legend class="form-legend">Détails du Matériel</legend>

    <div class="form-group">
        {{ form_label(form.category) }}
        {{ form_widget(form.category) }}
        {{ form_errors(form.category) }}
    </div>

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.image) }}
        <div class="app-grid two nobg">
            <div class="grid-item nobg">
                {{ form_widget(form.image) }}
                {{ form_errors(form.image) }}
            </div>
            <div class="grid-item nobg">
                {% if button_label is defined and equipment.image %}
                    <div class="app-grid third-reverse nobg">
                        <a href="{{ asset('uploads/equipment/' ~ equipment.image) }}"
                           target="_blank"
                           class="grid-item nobg">
                            <small>{{ equipment.image }}</small>
                        </a>
                        <a href="{{ path('app_back_office_equipment_image_delete', {'id': equipment.id}) }}"
                           class="grid-item nobg text-danger"
                           onclick="return window.confirm('Êtes-vous sûr de vouloir supprimer l\'image de ce Matériel ?')">
                            {{ ux_icon('fa6-solid:trash-can', {'class': 'icon text-danger'}) }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>
</fieldset>

<fieldset class="form-fieldset">
    <legend class="form-legend">Suivi du Matériel</legend>

    <div class="form-group">
        {{ form_label(form.status) }}
        {{ form_widget(form.status) }}
        {{ form_errors(form.status) }}
    </div>

    <div class="form-group">
        {{ form_label(form.active) }}
        {{ form_widget(form.active) }}
        {{ form_errors(form.active) }}
    </div>

    <div class="form-group">
        {{ form_label(form.purchasePrice) }}
        {{ form_widget(form.purchasePrice) }}
        {{ form_errors(form.purchasePrice) }}
    </div>

    <div class="form-group">
        {{ form_label(form.argusPrice) }}
        {{ form_widget(form.argusPrice) }}
        {{ form_errors(form.argusPrice) }}
    </div>

    <div class="form-group">
        {{ form_label(form.purchasedAt) }}
        {{ form_widget(form.purchasedAt) }}
        {{ form_errors(form.purchasedAt) }}
    </div>

    <div class="form-group">
        {{ form_label(form.invoice) }}
        <div class="app-grid two nobg">
            <div class="grid-item nobg">
                {{ form_widget(form.invoice) }}
                {{ form_errors(form.invoice) }}
            </div>
            <div class="grid-item nobg">
                {% if button_label is defined and equipment.invoice %}
                    <div class="app-grid third-reverse nobg">
                        <a href="{{ asset('uploads/invoices/' ~ equipment.invoice) }}"
                           target="_blank"
                           class="grid-item nobg">
                            <small>{{ equipment.invoice }}</small>
                        </a>
                        <a href="{{ path('app_back_office_equipment_invoice_delete', {'id': equipment.id}) }}"
                           class="grid-item nobg text-danger"
                           onclick="return window.confirm('Êtes-vous sûr de vouloir supprimer la facture de ce Matériel ?')">
                            {{ ux_icon('fa6-solid:trash-can', {'class': 'icon text-danger'}) }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</fieldset>

<div class="form-group">
    {% if button_label is defined %}
        <a href="{{ path('app_back_office_equipment_view', {'slug': equipment.slug}) }}" class="app-btn">
            Retour
        </a>
    {% else %}
        <a href="{{ path('app_back_office_equipment_home') }}" class="app-btn">
            Retour
        </a>
    {% endif %}
    <button type="submit" class="form-submit app-btn cta">{{ button_label | default('Ajoutez') }}</button>
</div>

{{ form_end(form) }}
