{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Les prestations techniques - Sonorisation{% endblock %}
{% block meta_description %}Bastard Sound System assure la sonorisation de vos événements live avec des équipements audio professionnels et des ingénieurs du son expérimentés. Un son optimisé pour chaque concert, festival ou performance intimiste.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>La sonorisation</h1>
            <p>Les prestations techniques de BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Une sonorisation digne de tes oreilles</h2>

        <p class="text-justify small">
            La <strong>sonorisation</strong> est un élément clé pour réussir tout <strong>événement live</strong>. Chez
            <strong>Bastard Sound System</strong>, nous veillons à ce que chaque note, chaque voix, et chaque vibration
            résonne avec une clarté et une puissance optimale. Nous offrons un service de <strong>sonorisation</strong>
            adapté à chaque type d'événement, qu’il s’agisse d’un <strong>concert en salle</strong>, d’un
            <strong>festival</strong> en plein air ou d'une <strong>performance plus intimiste</strong>. Grâce à notre
            expertise et à l’utilisation d’un <strong>matériel de pointe</strong>, nous garantissons une
            qualité sonore exceptionnelle qui respecte ton <strong>univers musical</strong> et offre à ton
            <strong>public</strong> une expérience immersive et inoubliable.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/technics/live/sound1.webp') }}" alt="Sonorisation d'événements"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Du larsen seulement si t'en veux</h2>

        <div class="app-grid three">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Du Matériel Audio de Haute Qualité</h3>
                    <p>
                        Chez <strong>BSS</strong>, nous utilisons uniquement du <strong>matériel audio</strong> de
                        qualité
                        professionnelle pour garantir une sonorisation précise et adaptée à chaque configuration. Des
                        systèmes
                        de
                        <strong>sonorisation</strong> ultra-performants, des <strong>micros</strong>, des
                        <strong>enceintes</strong>, aux <strong>mixeurs</strong> numériques, tout est pensé pour offrir
                        une
                        expérience sonore impeccable. Que tu joues dans une petite salle ou sur une grande scène, nous
                        adaptons notre équipement en
                        fonction
                        du
                        lieu et du type d'événement pour offrir le meilleur rendu possible, tout en respectant les
                        contraintes
                        acoustiques.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Des Ingénieurs du Son Expérimentés</h3>
                    <p>
                        Notre équipe d’<strong>ingénieurs du son</strong> expérimentés est présente à chaque étape pour
                        s’assurer
                        que la <strong>sonorisation</strong> de ton <strong>événement</strong> soit parfaite. Ils
                        ajustent
                        chaque
                        paramètre en temps réel pour garantir une restitution fidèle de ton <strong>son</strong>, en
                        tenant
                        compte
                        de ton <strong>style musical</strong>, du lieu et de l’acoustique. En collaborant avec notre
                        équipe,
                        tu peux être sûr que le <strong>son</strong> de ta performance
                        sera à
                        la
                        hauteur de tes attentes et offrira à ton <strong>public</strong> une expérience immersive et
                        marquante.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Un Son Optimisé pour Tous Types d'Événements</h3>
                    <p>
                        Qu’il s’agisse d’un <strong>concert</strong>, d’un <strong>festival</strong>, ou d’un événement
                        plus
                        intimiste, notre équipe adapte la <strong>sonorisation</strong> aux exigences spécifiques de ton
                        projet.
                        Grâce à notre maîtrise des configurations sonores et à nos outils de pointe, nous nous assurons
                        que
                        chaque
                        performance soit parfaitement mise en valeur. Que tu recherches un son puissant pour un
                        <strong>festival en plein air</strong>
                        ou un rendu plus
                        délicat
                        pour une performance acoustique, <strong>BSS</strong> a l’expertise et les ressources
                        nécessaires
                        pour
                        répondre à tes besoins.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/technics/live/sound2.webp') }}" alt="Ingénieurs du son"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            La qualité du <strong>son</strong> est primordiale pour créer une expérience live mémorable. Avec
            <strong>BSS</strong>, tu bénéficies d’un service de <strong>sonorisation</strong> complet, adapté à ton
            <strong>univers</strong> et à ton <strong>événement</strong>. Ensemble, faisons en sorte que ta performance
            résonne dans les meilleures conditions.
        </p>

        <div class="app-grid two">
            <a href="{{ path('app_front_office_contact') }}" class="app-button">
                Discutons de tout ça
            </a>
            <a href="{{ path('app_front_office_membership') }}" class="app-button cta">
                Rejoins BSS&nbsp;!
            </a>
        </div>
    </section>
{% endblock %}
