{% extends 'back_office/_layout.html.twig' %}

{% block title %}Gestion du Matériel{% endblock %}
{% block body_class %}backoffice equipment{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Le Matos de BSS</h1>
    </section>

    {% for category in categories %}
        {% if category.equipments | length > 0 %}
            <section class="app-section">
                <h2>
                    {{ category.name }}
                    <a href="{{ path('app_back_office_equipment_add', {'slug': category.slug}) }}"
                       class="text-success">{{ ux_icon('subway:add', {'class': 'icon'}) }}</a>
                </h2>

                <div class="app-grid four">
                    {% for equipment in category.equipments %}
                        <div class="grid-item app-card">
                            <div class="card-header">
                                <figure>
                                    <div class="card-actions">
                                        <a href="{{ path('app_back_office_equipment_view', {'slug': equipment.slug}) }}">
                                            {{ ux_icon('fa6-solid:eye', {'class': 'icon'}) }}
                                        </a>

                                        <a href="{{ path('app_back_office_equipment_edit', {'slug': equipment.slug}) }}">
                                            {{ ux_icon('fa6-solid:pen-to-square', {'class': 'icon text-info'}) }}
                                        </a>

                                        <a href="{{ path('app_back_office_equipment_delete', {'id': equipment.id}) }}"
                                           onclick="return window.confirm('Êtes-vous vraiment sûr de vouloir supprimer définitivement ce matériel ?')">
                                            {{ ux_icon('fa6-solid:trash-can', {'class': 'icon text-danger'}) }}
                                        </a>
                                    </div>

                                    {% if equipment.image %}
                                        <img src="{{ asset('uploads/equipment/' ~ equipment.image) }}"
                                             class="card-image"
                                             alt="{{ equipment.name }}"/>
                                    {% endif %}

                                    {% if equipment.status == 'KO' %}
                                        {{ ux_icon('fluent-emoji-high-contrast:cross-mark', {'class': 'card-icon text-danger'}) }}
                                    {% endif %}
                                </figure>

                                <h3 class="card-title">{{ equipment.name }}</h3>
                                {% if equipment.status == 'KO' %}
                                    <h4 class="text-danger">
                                        <strong>
                                            Hors Service
                                            <small>
                                                depuis le
                                                {{ equipment.updatedAt | date('d/m/Y') }}
                                            </small>
                                        </strong>
                                    </h4>
                                {% endif %}

                                <p class="description">{{ equipment.description }}</p>
                            </div>

                            <div class="card-body">
                                {% if equipment.invoice %}
                                    <p>
                                        <strong>Facture</strong>
                                        <br/>
                                        <a href="{{ asset('uploads/invoices/' ~ equipment.invoice) }}"
                                           target="_blank">{{ equipment.invoice }}</a>
                                    </p>
                                {% endif %}

                                <div class="content app-grid three">
                                    {% if equipment.purchasePrice %}
                                        <p>
                                            <strong>Prix d'achat</strong>
                                            <br/>
                                            {{ equipment.purchasePrice | number_format(2, ',', ' ') }}€
                                        </p>
                                    {% endif %}

                                    {% if equipment.purchasedAt %}
                                        <p>
                                            <strong>Acheté le</strong>
                                            <br/>
                                            {{ equipment.purchasedAt | date('d/m/Y') }}
                                        </p>
                                    {% endif %}

                                    {% if equipment.argusPrice %}
                                        <p>
                                            <strong>Cote Argus</strong>
                                            <br/>
                                            {{ equipment.argusPrice | number_format(2, ',', ' ') }}€
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
