{{ form_start(form, {'attr': {'class': 'app-form'}}) }}
<div class="app-grid two mb-3">
    <fieldset class="form-fieldset">
        <legend class="form-legend">Qui es-tu&nbsp;?</legend>

        <div class="form-group">
            {{ form_label(form.memberType) }}
            {{ form_widget(form.memberType) }}
            {{ form_errors(form.memberType) }}
        </div>

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone) }}
            {{ form_errors(form.phone) }}
        </div>

        <div class="form-group">
            {{ form_label(form.city) }}
            {{ form_widget(form.city) }}
            {{ form_errors(form.city) }}
        </div>
    </fieldset>

    <fieldset class="form-fieldset">
        <legend class="form-legend">autre chose&nbsp;:</legend>

        <div class="form-group">
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
        </div>

        <div class="form-group form-checkbox">
            <span>&nbsp;</span>
            <div class="group-content">
                <label for="{{ form.agree.vars.id }}"
                       class="form-label small {% if form.agree.vars.required %}required{% endif %}">
                    {{ form_widget(form.agree) }}
                    {{ form.agree.vars.label }}
                </label>
                {{ form_errors(form.agree) }}
            </div>
        </div>

        <p class="text-center">
            <a href="{{ asset('uploads/document/statuts-de-lassociation.pdf') }}"
               class="text-secondary"
               target="_blank">
                <strong>
                    <small>Tu peux aller lire les statuts de l'association en cliquant là</small>
                </strong>
            </a>
        </p>
    </fieldset>
</div>

{{ form_widget(form._token) }}
{{ form_widget(form.captcha) }}

<fieldset class="form-fieldset controls">
    <span>&nbsp;</span>
    <button type="submit" class="form-submit app-button cta">Envoie&nbsp;!</button>
</fieldset>
{{ form_end(form, {'render_rest': false}) }}
