{% extends '@Admin/index.html.twig' %}

{% block title %}
    {% if app_statistics_contact.partenariats | length > 0 %}
        {{ app_statistics_contact.partenariats | length }}
        Nouvelle{{ app_statistics_contact.partenariats | length > 1 ? 's' : '' }}
        demande{{ app_statistics_contact.partenariats | length > 1 ? 's' : '' }}
        de partenariat
    {% else %}
        Pas de nouveaux partenariats
    {% endif %}
    - Administration Générale
{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Nouvelles demandes de partenariat</h1>
    </section>

    <section class="app-section">
        {% if app_statistics_contact.partenariats | length > 0 %}
            <table class="app-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Date de la demande</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                    {% for partenariat in app_statistics_contact.partenariats %}
                        <tr>
                            <td>{{ partenariat.partenaireType }}</td>
                            <td>{{ partenariat.partenaireName }}</td>
                            <td>{{ partenariat.partenaireEmail }}</td>
                            <td>{{ partenariat.partenairePhone }}</td>
                            <td>{{ partenariat.sentAt | date("d/m/Y à H:i") }}</td>
                            <td>
                                {% if partenariat.partenaireMessage %}
                                    <a href="#"
                                       class="primary"
                                       title="Lire le message"
                                       data-controller="popup--index"
                                       data-action="popup--index#open"
                                       data-popupid="popup-{{ partenariat.id }}">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    <div id="popup-{{ partenariat.id }}" class="app-popup">
                                        <div class="popup-body">
                                            <div class="popup-header">
                                                <h2>Nouvelle demande de partenariat</h2>
                                                <a href="#"
                                                   class="close"
                                                   data-controller="popup--index"
                                                   data-action="popup--index#close"
                                                   data-popupid="popup-{{ partenariat.id }}">
                                                    <i class="fa-solid fa-circle-xmark"></i>
                                                </a>
                                            </div>
                                            <div class="popup-content">
                                                <p>
                                                    <strong>{{ partenariat.partenaireName }}</strong>
                                                    -
                                                    {{ partenariat.partenaireType }}
                                                </p>
                                                <p>
                                                    <strong>Message :</strong>
                                                </p>
                                                <blockquote>{{ partenariat.partenaireMessage }}</blockquote>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <a class="disabled" title="Pas de message">
                                        <i class="fa-solid fa-envelope"></i>
                                    </a>
                                {% endif %}

                                <a href="{{ path('admin_contact_partenariats_edit', {'id': partenariat.id}) }}"
                                   class="info"
                                   title="Modifier la demande">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>

                                <a href="{{ path('admin_contact_partenariats_accept', {'id': partenariat.id}) }}"
                                   class="success"
                                   onclick="return window.confirm('Accepter cette demande ?')"
                                   title="Accepter la demande">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </a>

                                <a href="{{ path('admin_contact_partenariats_reject', {'id': partenariat.id}) }}"
                                   class="danger"
                                   onclick="return window.confirm('Rejeter cette demande ?')"
                                   title="Rejeter la demande">
                                    <i class="fa-solid fa-handshake-slash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Tout est nickel de ce côté ! Rien à signaler…</p>
        {% endif %}
    </section>

    {% if app_statistics_contact.rejectedPartenariats | length > 0 %}
        <section class="app-section pagetitle">
            <h2>Demandes de partenariat rejetées</h2>
        </section>

        <section class="app-section alt">
            {% if app_statistics_contact.rejectedPartenariats | length > 0 %}
                <table class="app-table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Date de la demande</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for partenariat in app_statistics_contact.rejectedPartenariats %}
                            <tr>
                                <td>{{ partenariat.partenaireType }}</td>
                                <td>{{ partenariat.partenaireName }}</td>
                                <td>{{ partenariat.partenaireEmail }}</td>
                                <td>{{ partenariat.partenairePhone }}</td>
                                <td>{{ partenariat.sentAt | date("d/m/Y à H:i") }}</td>
                                <td>
                                    {% if partenariat.partenaireMessage %}
                                        <a href="#"
                                           class="primary"
                                           title="Lire le message"
                                           data-controller="popup--index"
                                           data-action="popup--index#open"
                                           data-popupid="popup-rejected-{{ partenariat.id }}">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <div id="popup-rejected-{{ partenariat.id }}" class="app-popup">
                                            <div class="popup-body">
                                                <div class="popup-header">
                                                    <h2>Demande de partenariat rejetée</h2>
                                                    <a href="#"
                                                       class="close"
                                                       data-controller="popup--index"
                                                       data-action="popup--index#close"
                                                       data-popupid="popup-rejected-{{ partenariat.id }}">
                                                        <i class="fa-solid fa-circle-xmark"></i>
                                                    </a>
                                                </div>
                                                <div class="popup-content">
                                                    <p>
                                                        <strong>{{ partenariat.partenaireName }}</strong>
                                                        -
                                                        {{ partenariat.partenaireType }}
                                                    </p>
                                                    <p>
                                                        <strong>Message :</strong>
                                                    </p>
                                                    <blockquote>{{ partenariat.partenaireMessage }}</blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <a class="disabled" title="Pas de message">
                                            <i class="fa-solid fa-envelope"></i>
                                        </a>
                                    {% endif %}

                                    <a href="{{ path('admin_contact_partenariats_edit', {'id': partenariat.id}) }}"
                                       class="info"
                                       title="Modifier la demande">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>

                                    <a href="{{ path('admin_contact_partenariats_accept', {'id': partenariat.id}) }}"
                                       class="success"
                                       onclick="return window.confirm('Accepter cette demande ?')"
                                       title="Accepter la demande">
                                        <i class="fa-solid fa-thumbs-up"></i>
                                    </a>

                                    <a href="{{ path('admin_contact_partenariats_delete', {'id': partenariat.id}) }}"
                                       class="danger"
                                       onclick="return window.confirm('Supprimmer cette demande ?')"
                                       title="Supprimer la demande">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Tout est nickel de ce côté ! Rien à signaler…</p>
            {% endif %}
        </section>
    {% endif %}
{% endblock %}
